.Login{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
     
}
.Login_Container{
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.Login_Container > h1{
    font-weight: 500;
    margin-bottom: 20px;
}
.Login_Container > form >h5{
    margin-bottom: 5px;
}
.Login_Container > form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 95%;
}
.Login_button{
    width: 95%;
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88374 #9c7e31 #846a29; 
    height: 30px; 
    margin-top: 5px;
    
}
.Register_button{
    width: 95%;
    background-color: lightgray;
    border: 1px solid;
    border-color: darkgray;
    height: 30px; 
    margin-top: 5px; 
}
.Login_Logo{
    width: 100px;
    object-fit: contain;
    margin-left: 10px;
}